/* Public domain.  No rights reserved. */

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-auto-rows: auto;
	grid-template-areas: 'content sidebar';
	grid-gap: 10px 30px;
}
.item { overflow: hidden; }
.content { grid-area: content; }
.content img { max-width: 100%; }
.sidebar { grid-area: sidebar; }

#linkbar ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}
#linkbar ul li i { padding-right: 4px; }

body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #131516;
	min-width: auto;
	max-width: 1000px;
	margin: auto;
	padding: 20px 27px;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }

a:link, a:visited { color: #2a5db0; }
a:hover, a:focus { color: #8963A6; }
a:active { color: #8900A6; }

/* Tables and code blocks */
table {
	display: block;
	overflow-x: auto;
	border-collapse: collapse;
}
th, td {
	text-align: left;
	border: 1px solid #323232;
	padding: 8px;
}

pre, code {
	overflow-x: auto;
	white-space: pre;
	font-family: 'Inconsolata', monospace;
	background-color: #f2f2f2;
	border-radius: 4px;
}
pre { padding: 5px 10px; }
code { padding: 1px 3px; }
pre code { padding: 0; }

blockquote {
	color: #666;
	border-left: 3px solid #666;
	margin-left: 0;
	padding-left: 15px;
	font-style: italic;
}

hr {
	width: 8em;
	margin: 30px auto;
}

details {
	background-color: #fffbd1;
	border-radius: 4px;
	padding: 5px 10px;
}
summary { cursor: pointer; }

@media all and (max-width: 815px) {
	body {
		padding: 5px 5%;
	}
	.container {
		grid-template-columns: 100%;
		grid-template-areas: 'sidebar' 'content';
	}
	#linkbar ul li {
		display: inline;
		padding-right: 7px;
	}
	#linkbar ul li i { display: none; }
	#side-content, #copyright {
		visibility: hidden;
		display: none;
	}
}
