body {
  font-family: 'Libre Franklin', 'Lato', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  margin: auto;
  width: 1000px;
}

/* Heading formatting */
h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}

/* Link formatting */
a:link, a:visited {
  color: #0063A6;
}
a:hover {
  color: #8963A6;
}
a:active {
  color: #8900A6;
}

/* Tables and code blocks */
table {
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  border: 1px solid #323232;
  padding: 8px;
}
pre, code {
  overflow-x: auto;
  white-space: pre;
  font-family: 'Inconsolata', monospace;
  color: #323232;
}
code:hover {
  color: #000000;
}

blockquote {
  border-left: 2px solid #323232;
  margin-left: 28px;
  padding-left: 10px;
}


/* Styling for the core container */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 'content sidebar';
  grid-gap: 0px 30px;
  padding: 10px;
}
.item {
  padding: 10px;
  overflow: hidden;
}


/* Main content of website */
.content {
  border: none;
  height: minmax(150px, auto);
}
.content img {
  width: 100%;
}


.sidebar {
  grid-area: sidebar;
}


/* Styling rules to allow website to work on different screen sizes */

.mobile-toggle-show {
  visibility: hidden;
  display: none;
}

@media all and (max-width: 1015px) {
  body {
    width: 800px;
  }
}
@media all and (max-width: 815px) {
  body {
    width: auto;
  }
  .container {
    grid-template-columns: 100%;
    grid-template-areas:
      'sidebar'
      'content';
    padding: 5%;
    padding-top: 0%;
  }
  .mobile-toggle-hide {
    visibility: hidden;
    display: none;
  }
  .mobile-toggle-show {
    visibility: visible;
    display: block;
  }
}
@media all and (max-width: 515px) {
  .container {
    padding: 2%;
    padding-top: 0%;
  }
}
