body {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #212121;
    margin: auto;
    width: 1000px;
}

/* Heading formatting */
h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 18px;
}
h2, h3 {
    font-size: 16px;
}

/* Link formatting */
a:link, a:visited {
    color: #0063A6;
}
a:hover {
    color: #8963A6;
}
a:active {
    color: #8900A6;
}

/* TODO: Make tables look better */
table {
    display: block;
    overflow-x: auto;
}
pre {
    display: block;
    overflow-x: auto;
    white-space: pre;
    font-family: 'Roboto Mono', monospace;
}


/* Styling for the core container */
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "title   sidebar"
        "content sidebar"
        "footer  sidebar";
    grid-gap: 0px 30px;
    padding: 10px;
}
.item {
    padding: 10px;
    overflow: hidden;
}


/* Main content of website */
.content {
    border: none;
    height: minmax(150px, auto);
}
.content img {
    width: 100%;
}


.sidebar {
    grid-area: sidebar;
}
.footer {

}


/* Styling rules to allow website to work on different screen sizes */

.mobile-toggle-show {
    visibility: hidden;
    display: none;
}

@media all and (max-width: 1015px) {
    body {
        width: 800px;
    }
}
@media all and (max-width: 815px) {
    body {
        width: auto;
    }
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
            "sidebar"
            "title"
            "content"
            "footer";
        padding: 5%;
    }
    .mobile-toggle-hide {
        visibility: hidden;
        display: none;
    }
    .mobile-toggle-show {
        visibility: visible;
        display: block;
    }
}
@media all and (max-width: 515px) {
    .container {
        padding: 2%;
    }
}
