
body {
    font-family: 'Roboto Slab', serif, 'Zilla Slab', serif;
    font-size: 14px;
    margin: auto;
    width: 1000px;
}


.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "title   sidebar"
        "content sidebar"
        "footer  sidebar";
    grid-gap: 1rem;
    padding: 10px;
}
.item {
    border: 2px solid;
    padding: 10px;
}


.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
.content .item {
    height: 150px;
}


.title {
    font-size: 18px;
}
.sidebar {
    grid-area: sidebar;
}
.footer {

}



@media all and (max-width: 1015px) {
    body {
        width: 800px;
    }
}
@media all and (max-width: 815px) {
    body {
        width: auto;
    }
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
            "sidebar"
            "title"
            "content"
            "footer";
        padding: 5%;
    }
}
@media all and (max-width: 515px) {
    .container {
        padding: 2%;
    }
}

